@font-face {
  font-family: raleway;
  src: url(Raleway/Raleway-Regular.woff);
}
@font-face {
  font-family: raleway-bold;
  src: url(Raleway/Raleway-SemiBold.woff);
}

p{
  font-size: 1.5vw;
  margin: 0;
}
body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: raleway;
  background-color: #1A0B08;
  color: #fcf5df;
  overflow-x: hidden;
}
a{
  font-family: raleway-bold;
  color:#1A1A13;
  text-decoration: none;
  font-size: 1.75vw;
}
a:not(.portfolio):not(.current):not(.title):hover{
  font-family: raleway-bold;
  color: #5C1113;
  text-decoration: none;
    font-size: 1.75vw;
}
.current{
  font-family: raleway-bold;
  color: #fcf5df;
  background-color: #1A0B08;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: .5vw;
  padding-bottom: .5vw;
  text-decoration: none;
  font-size: 1.75vw;
}
.portfolio{
  font-family: raleway;
  font-size: 1.5vw;
  text-decoration: underline;
  color: #fcf5df;
}
h1{
  font-size: 5vw;
  margin: 0;
}
h2{
  font-size: 3vw;
}
h3{
  font-size: 2vw;
}
h4{
  padding: 0;
  margin: 0;
  font-size: 1.75vw;
}
img{
  max-width: 100%;
  height: auto;
}
.noMargin{
  margin:0;
  padding: .75vw;
  text-align: center;
}
.title{
  font-size: 3vw;
  color: #5C1113;
}
#mainContainer{
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
padding-top: 0px;
margin-top: 0px;
padding-bottom: 2vw;
align-items: center;
}
#menu{
  align-items: center;
  margin: 0;
  display: inline-flex;
  height:4vw;
  width: 95%;
  padding: 1vw;
  background-color: #fcf5df;
  position: fixed;
  box-shadow: 0.75vw 0.75vw 1vw #312D21
}

#menuTitle{
  width: 40%;
  display: flex;
  justify-content: flex-start;
  color: #5C1113;
}

#menuLinks{
  display:inline-flex;
  width: 60%;
  flex-grow: 2;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.5vw;
  padding-right: 3vw;
}

/* homepage */
#headline{
  width:100%;
  display: flex;
  flex-direction: column;
  margin-top: 8vw;
  align-items: center;
  padding: 2vw;
  background-color: #5C1113;
}
#intro{
  display: flex;
  flex-direction: row;
  width: 95%;
  margin-top: 1vw;
  align-items: center;
  justify-content: space-between;
}
#introText{
  width:50%;
  display:flex;
  flex-direction: column;
  padding: 1vw;
  padding-left: 2vw;
  border-right-style: solid;
  text-align: justify;
}
#introDef{
  width:50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1vw;
  margin: 1vw;
}

#image{
  width: 70%;
  height: 25vw;
  padding: 1vw;
  margin: 1vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  border-style:inset;
  box-shadow: 0.75vw 0.75vw 1vw #5C1113;
}
#foxskull{
  display: flex;
  width: 30vw;
  height: 24vw;

}
#imageDes{
  display: flex;
  flex-direction: column;
  width: 55%;
    text-align: justify;
}

/* about page */

#aboutIntro{
  width: 95vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 6vw;
}
#sophiaDes{
  padding: 1vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 3vw;
  border-bottom: solid;
    text-align: justify;
}
#sophiaPhotos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#youngSophia{
  padding: 1vw;
  display: flex;
  flex-direction: column;
  height: 26vw;
  width: 19.5vw;
  align-items: center;
}
#currentSophia{
  padding: 1vw;
  height: 26vw;
  width: 19.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#process{
  width: 95vw;
  display: flex;
  flex-direction: column;
  align-items: center;
    text-align: justify;
}
#processPics{
padding-top: 2vw;
width: 95vw;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding-bottom: 2vw;
}
#bucket{
  display: flex;
  width:30vw;
  align-items: center;
  flex-direction: column;
}
#whitened{
  display: flex;
  width:30vw;
  align-items: center;
  flex-direction: column;
  }
  #sorted{
    display: flex;
    width: 22.5vw;
    align-items: center;
    flex-direction: column;
  }

/* earrings and necklaces */

#jewleryGrid{
  margin-top: 3vw;
  width: 85%;
  height: 91vw;
  display: grid;
  align-self: center;
  justify-content: space-around;
  gap: 3vw 3vw;
  grid-template-columns: 33vw 33vw;
  grid-template-rows: 43vw 43vw;
}
#hipbone{
  padding: 1vw;
  border-style: solid;
  display: inline-grid;
  text-align: center;
}
#molar{
  padding: 1vw;
  display: grid;
  text-align: center;
  border-style: solid;
}
#vertebrae{
  padding: 1vw;
  display: grid;
  text-align: center;
  border-style: solid;
}
#squirrel{
  padding: 1vw;
  display: grid;
  text-align: center;
  border-style: solid;
}
#earringPhoto{
  display: grid;
  width: 72%;
  align-self: center;
  justify-content: center;
  padding: .5vw;
  padding-left: 4.5vw;
  padding-top: .5vw;
}
.small{
  font-size: 1.25vw;
}

/* necklaces */


#atlas{
  padding: 1vw;
  border-style: solid;
  display: inline-grid;
  text-align: center;
}
#baculum{
  padding: 1vw;
  display: grid;
  text-align: center;
  border-style: solid;
}
#jawbone{
  padding: 1vw;
  display: grid;
  text-align: center;
  border-style: solid;
}
#rabbit{
  padding: 1vw;
  display: grid;
  text-align: center;
  border-style: solid;
}

#necklacePhoto{
  display: grid;
  width: 85%;
  align-self: center;
  justify-content: center;
  padding: .5vw;
  padding-left: 2vw;
  padding-top: .5vw;
}

#jewleryGrid2{
  margin-top: 3vw;
  width: 80%;
  height: 87vw;
  display: grid;
  align-self: center;
  justify-content: space-around;
  gap:3vw 3vw;
  grid-template-columns: 29vw 29vw;
  grid-template-rows: 41vw 41vw;
}
