@font-face {
  font-family: raleway;
  src: url(Raleway/Raleway-Regular.woff);
}
@font-face {
  font-family: raleway-bold;
  src: url(Raleway/Raleway-SemiBold.woff);
}
p{
  font-size: 1.5vw;
  margin: 0;
}
body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: raleway;
  background-color: #1A0B08;
  color: #fcf5df;
  overflow-x: hidden;
}
a{
  font-family: raleway-bold;
  color:#1A1A13;
  text-decoration: none;
  font-size: 1.75vw;
}
a:hover{
  font-family: raleway-bold;
  color: #5C1113;
  text-decoration: none;
    font-size: 1.75vw;
}
h1{
  font-size: 5vw;
  margin: 0;
}
h2{
  font-size: 3vw;
}
h3{
  font-size: 2vw;
}
#mainContainer{
width: 100vw;
height: 100vh;
display: flex;
flex-direction: column;
padding-top: 0px;
margin-top: 0px;
margin-bottom: 0px;
align-items: center;
}
#menu{
  align-items: center;
  margin: 0;
  display: inline-flex;
  height:4vw;
  width: 95%;
  padding: 1vw;
  background-color: #fcf5df;
  position: fixed;
  box-shadow: 0.5vw 0.5vw 1vw #312D21
}

#menuTitle{
  width: 40%;
  display: flex;
  justify-content: flex-start;
  color: #5C1113;
}

#menuLinks{
  display:inline-flex;
  width: 60%;
  flex-grow: 2;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.5vw;
  padding-right: 3vw;
}
#headline{
  width:95%;
  display: flex;
  margin-top: 8vw;
  align-items: center;
  justify-content: space-around;
  padding: 2vw;
  background-color: #5C1113;
}
#intro{
  display: flex;
  flex-direction: row;
  width:95%;
  margin-top: 1vw;
  align-items: center;
  justify-content: space-between;
}
#introText{
  width:40%;
  display:flex;
  margin: 1vw;
}
#introDef{
  width:60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-bottom-style: solid;
  padding-bottom: 2vw;
  margin: 1vw;
}
